{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    {{ partial "jumbotron" . }}

    <div class="content-width">
      {{ replaceRE `bug (\d{6,7})\b` "<a href=\"https://bugs.kde.org/show_bug.cgi?id=$1\">$0</a>" .Content | safeHTML }}

      <h3 id="get-it-try-it-love-it">{{ i18n "news.grab.title" }}</h3>
      <p>{{ i18n "news.grab" | markdownify }}</p>
      <h3 id="get-involved">{{ i18n "getinvolved.title" }}</h3>
      <p>{{ i18n "news.enhance" }}</p>
      <ul>
        <li><a href="https://bugs.kde.org/enter_bug.cgi?format=guided&amp;product=skrooge">{{ i18n "news.bugs" }}</a></li>
        <li>{{ i18n "news.forum" | markdownify }}</li>
        <li>{{ i18n "news.contact" | markdownify }}</li>
        <li>{{ i18n "news.welcome" | markdownify }}</li>
      </ul>
    </div>
  </article>
</main>
{{ end }}
