{{ define "main" }}
<main class="container">
  <h1>{{ .Title }}</h1>
  <hr>
  <div class="d-flex flex-column flex-xxl-row">
    <div>
      {{ .Content }}

      <h2>{{ i18n "download.install" }}</h2>
      <p>{{ partial "fn/i18n_args" (slice "download.install.platform" .Params.name) | markdownify }}</p>
      <p>{{ partial "fn/i18n_args" (slice "download.install.linux" .Params.name) }}</p>

      <h2>{{ i18n "download.uninstall" }}</h2>
      <p>{{ partial "fn/i18n_args" (slice "download.uninstall.instruction" .Params.name) }}</p>
    </div>
    <div class="ms-3">
      <a href="https://repology.org/project/skrooge/versions">
        <img src="https://repology.org/badge/vertical-allrepos/skrooge.svg" alt="{{ i18n "download.packaging_status" }}" />
      </a>
    </div>
  </div>
</main>
{{ end }}
