{{/*
SPDX-FileCopyrightText: Pablo Marcos <kde@pablomarcos.me>
SPDX-FileCopyrightText: 2023 Stephane Mankowski <stephane@mankowski.fr>
SPDX-FileCopyrightText: 2023 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}
{{ define "main" }}
<main id="home">
  <section class="mt-0 pt-1">
    <div class="container">
      <div class="slideshow-container mb-3">
        <img class="slides fade" src="/images/screenies/header1.png" style="width:100%">
        <img class="slides fade" src="/images/screenies/header2.png" style="width:100%">
        <img class="slides fade" src="/images/screenies/header3.png" style="width:100%">
      </div>

      {{.Content}}

      <a href="/download/">
        <figure>
          <img src="https://img.shields.io/badge/Skrooge%20stable%20release-25.1.0-green.svg" class="img-fluid" alt="{{ i18n "home.version.alt" }}" title="{{ i18n "home.version.title" }}">
        </figure>
      </a>
      <a href="/download/">
        <figure>
          <img src="https://badgen.net/snapcraft/v/skrooge" class="img-fluid" alt="{{ i18n "home.snap.alt" }}" title="{{ i18n "home.snap.title" }}">
        </figure>
      </a>
      <a href="https://scan.coverity.com/projects/skrooge">
        <figure>
          <img src="https://scan.coverity.com/projects/7151/badge.svg" class="img-fluid" alt="{{ i18n "home.coverity" }}" title="{{ i18n "home.coverity" }}">
        </figure>
      </a>
      <a href="https://bestpractices.coreinfrastructure.org/projects/6539">
        <figure>
          <img src="https://bestpractices.coreinfrastructure.org/projects/6539/badge" class="img-fluid" alt="{{ i18n "home.openssf" }}" title="{{ i18n "home.openssf" }}">
        </figure>
      </a>
    </div>
  </section>

  <section class="section-green pt-1">
    <div class="container">
      <h2 class="h1">{{ i18n "home.recentnews" }}</h2>
      <div class="row">
      {{ $pages := (.Site.GetPage "/news").RegularPagesRecursive }}
      {{ range .Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge (.Site.GetPage "/news").RegularPagesRecursive }}
      {{ end }}
      {{ range first 4 (where $pages "Params.hidden" "ne" "true") }}
        <div class="col-12 col-md-6 mb-4">
          <div class="text-lighter">{{ partial "i18n_date.html" . }}</div>
          <h3 class="mt-1 h4">{{ .Title | safeHTML}}</h3>
          <div class="post-entry mt-3">
            {{ if .Description }}
              {{ .Description }}
            {{else}}
              {{ .Summary | markdownify }}
            {{end}}
            {{ if .Truncated }}
              <a href="{{ .Permalink }}" class="d-block mt-2">{{i18n "read-more" }}</a>
            {{ end }}
          </div>
        </div>
      {{end}}
      </div>
      <a href="{{ "/news" | relLangURL }}" class="learn-more my-3" style="font-weight: bold;">&#x1F4E2; {{ i18n "home.recentnews.view-all" }}</a>
    </div>
  </section>
</main>
{{ end }}
